.song-card {
    height: 45px;
    max-width: 300px;
    min-width: 300px;

    .song-card__liner {
        display: flex;
        flex-direction: row;

        .song-card__song-info {
            display: flex;
            flex-direction: column;
            max-width: 170px;
            min-width: 170px;
            gap: 2px;
            justify-content: center;
            margin-left: 10px;

            .song-card__title {
                font-family: Semibold;
                font-size: 18px;
                line-height: 22px;
                color: $darkBlue;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .song-card__artist {
                font-family: Medium;
                font-size: 16px;
                line-height: 19px;
                color: $darkBlue;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .song-card__vote-section {
            display: flex;
            flex-direction: row;
            align-items: center;

            .song-card__upvote {
                border: none;
                background-color: transparent;
                color: adjust-color($color: #000, $alpha: -0.9);
                cursor: pointer;

                &.selected {
                    color: #1DB954;
                }
            }

            .song-card__downvote {
                border: none;
                background-color: transparent;
                color: adjust-color($color: #000, $alpha: -0.9);
                cursor: pointer;

                &.selected {
                    color: #CC0000;
                }
            }

            .song-card__votes {
                font-family: Semibold;
                font-size: 18px;
                line-height: 22px;
                color: $darkBlue;
                min-width: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }
    }
}