.spotify-search__liner {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 281px;

    .spotify-search__searchbar {
        height: 30px;
        border: 1.5px solid adjust-color($color: $darkBlue, $alpha: -0.5);
        padding: 5px;
        background-color: transparent;
        border-radius: 5px;
        display: flex;
        align-items: center;    
        
        .spotify-search__search-icon {
            margin-left: 5px;
            margin-right: 10px;
            color: $darkBlue;
        }

        .spotify-search__search-text {
            font-family: Medium;
            font-size: 18px;
            color: $darkBlue;
            border: none;
            width: 230px;
            &:focus {
                outline: none;
            }
        }
    }

    .spotify-search__separator {
        border: 2px solid adjust-color($color: $darkBlue, $alpha: -0.9);
        width: 281px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .spotify-search__search-results {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-height: 500px;
        min-height: 500px;
        overflow: scroll;
        margin-bottom: 30px;
        width: 281px;

        &::-webkit-scrollbar {
            display: none;
        }

        .spotify-search__search-result {
            border: 1.5px solid adjust-color($color: $darkBlue, $alpha: -0.7);
            height: 45px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            text-decoration: none;

            .spotify-search__search-result-title {
                width: 261px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-family: Medium;
                font-size: 18px;
                line-height: 22px;
                color: $darkBlue;
                margin: 10px;
            }
        }
    }
}