.create__liner {
    display: flex;
    flex-direction: column;
}

.create__title-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.create__button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}