// ---------- Inter ------------
@font-face {
    font-family: Thin;
    src: url(../fonts/inter/Inter-Thin.ttf) format('truetype');
}

@font-face {
    font-family: Regular;
    src: url(../fonts/inter/Inter-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Medium;
    src: url(../fonts/inter/Inter-Medium.ttf) format('truetype');
}

@font-face {
    font-family: Semibold;
    src: url(../fonts/inter/Inter-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: Bold;
    src: url(../fonts/inter/Inter-Bold.ttf) format('truetype');
}

// ---------- League Spartan ------------
@font-face {
    font-family: LogoThin;
    src: url(../fonts/league-spartan/LeagueSpartan-Thin.ttf) format('truetype');
}

@font-face {
    font-family: LogoRegular;
    src: url(../fonts/league-spartan/LeagueSpartan-Regular.ttf) format('truetype');
}

@font-face {
    font-family: LogoMedium;
    src: url(../fonts/league-spartan/LeagueSpartan-Medium.ttf) format('truetype');
}

@font-face {
    font-family: LogoSemibold;
    src: url(../fonts/league-spartan/LeagueSpartan-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: LogoBold;
    src: url(../fonts/league-spartan/LeagueSpartan-Bold.ttf) format('truetype');
}