.nav-header {
    margin-top: 30px;

    .nav-header__liner {
        display: flex;
        justify-content: center;
        align-items: center;
    
        .nav-header__links-section {
            display: flex;
            gap: 20px;
    
            .nav-header__link {
                color: adjust-color($color: $lightBlue, $alpha: 1.0);
                font-size: 18px;
                line-height: 19px;
                font-weight: 600;
                font-family: Semibold;
                text-decoration: none;
            }
        }
    }
}