.profile__liner {
    display: flex;
    flex-direction: column;
}

.profile__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile__data-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}